In [5]:
import json
from collections import Counter 
 
with open('results/r10s1024_False.json', 'r') as json_File:
    json_file = json.load(json_File)
 
# getting hold of all values inside
# the dictionary
shots = json_file['results'][0]['shots']
time_taken = round(json_file['time_taken'], 3)

# implementing get_counts()
count = json_file['results'][0]['data']['counts']
value, count = Counter(count.values()).most_common(1)[0]
accuracy = round(count/shots, 4)


print(value, count)
print(accuracy)

# getting hold of the values of
# variableParam
# test1 = test[1].values() 
# test2 = list(test1)[0]
# test3 = test2[1:-1].split(",")
# print(test3[1])

1 760
0.7422

In [12]:
# for files in directory

import os
for file in os.listdir("results"):
    if file.endswith(".json"):
        print(file)

r5s16384_True.json
r10s2048_True.json
r20s4096_False.json
r5s1024_True-1.json
r5s4096_True.json
r5s8196_True-1.json
r10s1024_False.json
r5s8196_True-2.json
r5s2048_True.json
r5s8196_True-3.json
r20s2048_True.json
r5s1024_True-2.json
r10s4096_False.json
r20s1024_True.json
r5s1024_True-3.json

In [6]:
import pandas as pd
import seaborn as sns

In [10]:
new_row = {'shots': shots, 'time': time_taken}
new_row

{'shots': 1024, 'time': 3.791}

In [14]:
# initialize dataframe
df = pd.DataFrame(columns=['rows', 'shots', 'time'])
df

Empty DataFrame
Columns: [rows, shots, time]
Index: []

In [ ]:
df.loc[len(df)] = new_row
df

In [17]:
# for files in directory
import re
import os

row_pattern = r'r(\d+)s'  # Match 'r' followed by one or more digits followed by 's'


for file in os.listdir("results"):
    if file.endswith(".json"):
        with open(file, 'r') as json_File:
            json_file = json.load(json_File)
            
            # getting hold of all values inside
            # the dictionary
            shots = json_file['results'][0]['shots']
            time_taken = round(json_file['time_taken'], 3)
        
        # finding row num
        match = re.search(row_pattern, file)
        if match:
            rows = match.group(1)  # Extract the captured digits
        else:
            result = None  # If the pattern is not found, you can handle it accordingly
            
        new_row = {'rows': rows, 'shots': shots, 'time': time_taken}
        df.loc[len(df)] = new_row
        print(new_row)

df

{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '10', 'shots': 1024, 'time': 3.791}
{'rows': '20', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '10', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '20', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}
{'rows': '10', 'shots': 1024, 'time': 3.791}
{'rows': '20', 'shots': 1024, 'time': 3.791}
{'rows': '5', 'shots': 1024, 'time': 3.791}

   rows  shots   time
0     5   1024  3.791
1    10   1024  3.791
2    20   1024  3.791
3     5   1024  3.791
4     5   1024  3.791
5     5   1024  3.791
6    10   1024  3.791
7     5   1024  3.791
8     5   1024  3.791
9     5   1024  3.791
10   20   1024  3.791
11    5   1024  3.791
12   10   1024  3.791
13   20   1024  3.791
14    5   1024  3.791